$screen-xl-min: 1200px;
$screen-l-min: 992px;
$screen-m-min: 768px;


@mixin xl {
  @media (min-width : #{$screen-xl-min}) {
    @content;
  }
}

@mixin l {
  @media(min-width : #{$screen-l-min}) {
    @content;
  }
}

@mixin m {
  @media(min-width : #{$screen-m-min}) {
    @content;
  }
}

//background color for cards :
$card-top-color : rgb(218, 229, 236);
$card-bg-color : #f6f6f6;

//Pokeview colors :
$poke-stats-bg-color: #a4a4a4; 
$poke-info-bg-color: #30a7d7;


//Background colors for types
$fire-type : #fd7d24;
$grass-type : #9bcc50;
$poison-type : #b97fc9;
$water-type : #4592c4;
$flying-type : #A890F0;
$bug-type : #729f3f;
$normal-type : #a4acaf;
$electric-type :  #eed535;
$ground-type : #E0C068;
$fairy-type : #fdb9e9;
$fighting-type : #d56723;
$psychic-type : #f366b9;
$steel-type : #9eb7b8;
$ice-type : #51c4e7;
$rock-type : #a38c21;
$dragon-type : #7038F8;
$dark-type : #707070;
$ghost-type : #7b62a3;

//Function to determine text color of type pills
@function set-type-text-color($color) {
  @if (lightness($color) > 50) {
    @return #212121; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

@mixin type-pill($color) {
  padding: .5em;
  border-radius: 5px;
  background-color: $color;
  color: set-type-text-color($color)
}