@import './variables';

.card-wrapper {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  min-width: 300px;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: 2px solid gray;
  margin: 1em;

  .card-header {
    text-align: center;
    background-color: rgb(218, 229, 236);
    padding: .25em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h3 {
      text-transform: capitalize;
    }
  }

  img {
    height: 180px;
    width: 180px;
    align-self: center;
  }

  .types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .poison {
      @include type-pill($poison-type);
    }

    .grass {
      @include type-pill($grass-type);
    }
    .fire {
      @include type-pill($fire-type);
    }
    .water {
      @include type-pill($water-type);
    }
    .bug {
      @include type-pill($bug-type);
    }
    .flying {
      @include type-pill($flying-type);
    }
    .normal {
      @include type-pill($normal-type);
    }
    .electric {
      @include type-pill($electric-type);
    }
    .ground {
      @include type-pill($ground-type);
    }
    .fairy {
      @include type-pill($fairy-type);
    }
    .fighting {
      @include type-pill($fighting-type);
    }
    .psychic {
      @include type-pill ($psychic-type);
    }
    .rock {
      @include type-pill($rock-type);
    }
    .steel {
      @include type-pill($steel-type);
    }
    .ice {
      @include type-pill($ice-type);
    }
    .ghost {
      @include type-pill($ghost-type);
    }
    .dragon {
      @include type-pill($dragon-type);
    }
    .dark {
      @include type-pill($dark-type);
    }
  }

}