.card-wrapper {
  min-width: 250px;
  padding: 1em;
  background-color: #f6f6f6;
  border: 2px solid gray;
  color: salmon;
  margin: 1em;

  h3 {
    text-align: center;
    text-transform: capitalize;
  }
}