@import '../../variables';

.card-wrapper {
  :hover {
    cursor: pointer;
  }
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 350px;
  border-radius: 15px;
  background-color: $card-bg-color;
  border: 2px solid gray;
  margin: 1em;

  .card-header {
    text-align: center;
    background-color: $card-top-color;
    padding: .25em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h3 {
      text-transform: capitalize;
    }
  }

  img {
    height: 180px;
    width: 180px;
    align-self: center;
  }
}

.types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
