.poke-view-wrapper {
  margin: 1em 1em;
}

.poke-name {
  display: flex;
  flex-flow: row nowrap;

  h1 {
    text-transform: capitalize;
  }
}

.poke-image {
  img {
    height: 240px;
    width: 240px;
  }
}