@import './variables';

.search-field {
  margin-left: 1em;
  margin-right: 1em;
}

.pokedex-wrapper {
  margin-left: 1em;
  margin-right: 1em;
}


@include l {
  
  h1 {
    font-size: 1.5em;
  }

  .pokedex-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .search-field {
    flex: 0 1 100%;
    margin: 1em auto 1em auto;
    
    input {
      height: 35px;
      width: 85%;
      padding: 5px;
    }
  }
}

